<h1>takinari</h1>
<p>Are ! Yo Mitsuketana. Kore. nihongo yanen. surasura yomeruyaro.
  <br>Hajimete, Rails de Kaihatsu shite miten.
  <br>Korekara bochi-bochi Kaihatsu suru sakai.
  <br>Yoshiku onegai shimasu-wa.
</p>
<p>Ookini!</p>
